/* ******************************************************************
 *	File name		: en.css
 *	Summary			: css base
 * ******************************************************************
 */
/* -----------------------------------------------------------------
   base
----------------------------------------------------------------- */

#head_title {
    display: none;
}

#main_contents p {
    word-break: keep-all !important;
    font-size: 1.0rem;
    text-align: justify;
    line-height: 1.5;
}

/* h3 */
#main_contents h3,
#main_contents .h3 {
    padding: 7px 30px 7px 12px;
    font-size: 1.0em;
}

/* --- responsive --- */
@media(max-width:1000px) {

    #main_contents h3,
    #main_contents .h3 {
        padding: 7px 12px 7px 12px;
    }
}

/* --- responsive --- */
@media(max-width:1000px) {
    #main_contents p {
        font-size: 0.77rem;
    }
}

/* -----------------------------------------------------------------
   TOP
----------------------------------------------------------------- */

#bdid_top #project_banner h2:after {
    left: calc(50% - 120px);
    width: 240px;
}

/* --- responsive --- */
@media(max-width:1000px) {
    #bdid_top #project_banner h2:after {
        left: calc(50% - 90px);
        width: 180px;
    }
}

/* -----------------------------------------------------------------
   members
----------------------------------------------------------------- */

#bdid_members .member_list li b,
#bdid_members .member_list li .ml_position {
    width: 100%;
}

/* -----------------------------------------------------------------
   device
----------------------------------------------------------------- */

.device_list li .dev_name {
    font-weight: normal;
    font-size: 0.90rem !important;
}
