@charset "utf-8";
/* ******************************************************************
 *	File name		: style.css
 *	Summary			: css style
 * ******************************************************************
 */

/*

青　#ADD8E6　rgba(173,216,230,1.0)
青（濃）　#74B7CE　rgba(116,183,206,1)
青（新）　#003F88　rgbA(0,63,136,1)　
紺　#313140　rgba(49,49,64,1)
オレンジ　#E7782E　rgba(231,120,46,1)

*/

/* -----------------------------------
  bg
----------------------------------- */

#main_contents:before,
#main_contents:after {
    content: " ";
    position: absolute;
    top: -150px;
    height: calc(100% + 150px);
}

/* #main_contents:before {
    left: -454px;
    width: 434px;
    background: url(../../image/base/bg_left.png) no-repeat 0 0;
}

#main_contents:after {
    right: -444px;
    width: 424px;
    background: url(../../image/base/bg_right.png) no-repeat 0 0;
} */

/* --- responsive --- */
@media(max-width:1000px) {

    #main_contents:before,
    #main_contents:after {
        display: none;
    }
}

/* -----------------------------------
  base
----------------------------------- */
/* 
#pnkz {
    position: relative;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto 50px;
    padding: 8px 15px 8px 25px;
    font-weight: normal;
    font-size: 0.9rem;
    background: linear-gradient(90deg, rgb(8, 163, 68), rgb(213, 133, 229));
    color: #FFF;
}

#pnkz ol {
    position: relative;
    width: 100%;
    margin: 0px !important;
    padding: 0px;
    list-style: none;
}

#pnkz ol li {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 0 !important;
    padding-right: 20px;
}

#pnkz ol li:after {
    content: " ";
    position: absolute;
    top: calc(50% - 4px);
    right: 0px;
    width: 7px;
    height: 7px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    transform: rotate(45deg);
}

#pnkz ol li:last-child:after {
    display: none;
}

#pnkz a {
    position: relative;
    color: #FFF;
    text-decoration: none;
}

#pnkz li:first-child a {
    padding: 0 0 0 16px;
}

#pnkz li:first-child a:after {
    content: " ";
    position: absolute;
    top: 3px;
    left: 0px;
    width: 13px;
    height: 13px;
    background: url(../../image/base/home.png) no-repeat 0 center;
    background-size: contain;
}

#pnkz li a:hover {
    text-decoration: underline;
} */

#title {
    position: relative;
    width: 1000px;
    margin: 0 auto 30px;
    border-left: 5px solid #000;
}

#title:before {
    content: " ";
    position: absolute;
    top: 25px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #000;
    z-index: 1;
}

#title h2 {
    display: inline-block;
    position: relative;
    min-width: 300px;
    padding: 7px 12px 3px 12px;
    font-weight: normal;
    font-size: 1.6rem;
    color: #000;
    border-top: 1px solid #000;
    background: #FFF;
    line-height: 1.3;
    z-index: 15;
}

#title h2:before {
    content: " ";
    position: absolute;
    top: -1px;
    right: -26px;
    border: 13px solid transparent;
    border-left: 13px solid #000;
    border-bottom: 13px solid #000;
}

#title h2:after {
    content: " ";
    position: absolute;
    top: 0px;
    right: -26px;
    border: 13px solid transparent;
    border-left: 13px solid #FFF;
    border-bottom: 13px solid #FFF;
}

#title h2 span {
    display: block;
    padding: 3px 0 0 2px;
    font-weight: bold;
    font-size: 1.00rem;
    text-shadow: none;
}


/* --- responsive --- */
@media(max-width:1000px) {
    #pnkz {
        margin: 0 auto 20px;
        padding: 8px 15px 8px 15px;
    }

    #title {
        width: calc(100% - 40px);
        margin: 0 auto 20px;
    }

    #title h2 {
        min-width: 0;
        padding: 7px 20px 3px 12px;
        font-size: 1.2rem;
    }

    #title h2 span {
        font-size: 0.84rem;
        text-shadow: none;
    }

    #main_contents section {
        padding: 0 0px;
    }
}

/*-----------------------------------
  h1 h2 h3 h4
-----------------------------------*/

/* h3 */
#main_contents h3,
#main_contents .h3 {
    display: inline-block;
    position: relative;
    width:100% ;    
    margin: 0 0 10px;
    padding: 4px 30px 4px 12px;
    font-weight: normal;
    font-size: 0.9em;
    text-align: left;
    background: linear-gradient(90deg, rgb(8, 163, 68), rgb(213, 133, 229));
    border-left: 6px solid #F19500;
    line-height: 1.45;
    letter-spacing: 1px;
    color: #FFF;
}

#main_contents h3:after,
#main_contents .h3:after {
    content: " ";
    position: absolute;
    top: 0px;
    right: -37px;
    width: 37px;
    height: 100%;
    background: url(../../image/base/h3_bg.png) repeat-y right 0;
}
.card-title{
    font-size: medium;
}
/* --- responsive --- */
@media(max-width:1000px) {

    #main_contents h3,
    #main_contents .h3 {
        padding: 4px 12px 4px 12px;
        width: calc(100% - 37px);
    }
}

/* h4 */
#main_contents h4,
#main_contents .h4 {
    display: block;
    position: relative;
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    line-height: 1.45;
    color: #000;
}

/* --- responsive --- */
@media(max-width:1000px) {

    #main_contents h4,
    #main_contents .h4 {
        padding: 3px 10px 4px;
        font-size: 1.1em;
        background: rgba(0, 0, 0, 0.1);
    }
}

/*-----------------------------------
  h0 (default)
-----------------------------------*/
#main_contents .h0 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0px;
    font-weight: normal;
    font-size: 1em;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: none;
    background: none;
    color: inherit;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.base_green #main_contents .h0 {
    border: none;
    background: none;
    color: inherit;
}

#main_contents h0:before,
#main_contents h0:after {
    display: none;
}

/*-----------------------------------
  img
-----------------------------------*/
img {
    max-width: 100%;
    height: auto;
}

/*-----------------------------------
  p
-----------------------------------*/

#main_contents p {
    margin-bottom: 7px;
    font-size: 2.0rem;
    line-height: 1.6;
}
#main_contents h5 {
    margin-bottom: 7px;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* --- responsive --- */
@media(max-width:1000px) {
    #main_contents p {
        font-size: 0.84rem;
    }
}

/*-----------------------------------
  box
-----------------------------------*/
#main_contents .box {
    position: relative;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
}

#main_contents .box:after {
    content: " ";
    display: block;
    clear: both;
}

#main_contents .box p {
    padding: 0px;
}

#main_contents .colorbox {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(116, 183, 206, 0.1);
}

#main_contents .box p:last-child {
    margin-bottom: 0px;
}

#main_contents .colorbox_b {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    padding: 3px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(49, 49, 64, 1);
    color: #FFF;
}

/*-----------------------------------
  line
-----------------------------------*/

#main_contents .line {
    margin-bottom: 17px;
    padding-bottom: 10px;
    border-bottom: 2px dotted rgba(49, 49, 64, 0.5);
}

#main_contents p.line {
    margin-bottom: 17px;
    padding-bottom: 17px;
    border-bottom: 2px dotted rgba(49, 49, 64, 0.5);
}

#main_contents .box.line {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dotted rgba(49, 49, 64, 0.5);
}

#main_contents .noline {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px !important;
}

#main_contents .line_b {
    margin-bottom: 17px;
    padding-bottom: 10px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

/*-----------------------------------
  ul
-----------------------------------*/

#main_contents ul>li {
    margin-bottom: 10px;
    font-size: 2.0rem;
}

ul.disc {
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: disc !important;
}

ul.disc>li {
    line-height: 1.5;
    margin-bottom: 4px;
}

ul.normal,
ol.normal {
    margin-bottom: 15px;
    padding-left: 0px !important;
    list-style: none !important;
}

ul.normal>li {
    line-height: 1.5;
    margin-bottom: 4px;
}

ul.num,
ol.num {
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: decimal !important;
}

ul.num>li,
ol.num>li {
    line-height: 1.5;
    margin-bottom: 4px;
}

ul.abc {
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: lower-latin !important;
}

ul.abc>li {
    line-height: 1.5;
    margin-bottom: 4px;
}

ul.roma {
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: lower-roman !important;
}

ul.roma>li {
    line-height: 1.5;
    margin-bottom: 4px;
}

ul.roma2 {
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: upper-roman !important;
}

ul.roma2>li {
    line-height: 1.5;
    margin-bottom: 4px;
}

ul.try {

    ul.try li {
        position: relative;
        line-height: 1.5;
        margin-bottom: 6px;
        padding-left: 15px;
    }

    ul.try li:after {
        display: block;
        content: " ";
        position: absolute;
        top: 2px;
        left: 2px;
        border: 6px solid transparent;
        border-left: 6px solid #619DE5;
    }

    .base_green ul.try li:after {
        border-left: 6px solid rgba(111, 185, 44, 1);
    }
}

ul.check {
    padding-left: 20px;
}

ul.check li {
    position: relative;
    line-height: 1.5;
    list-style-image: url(../../img/base/check.png);
}

ul.disc_b,
ul.disc_g {
    padding-left: 1em;
    list-style: none;
}

ul.disc_b li,
ul.disc_g li {
    position: relative;
    margin-bottom: 7px;
    text-indent: -1em;
    line-height: 1.5;
}

ul.disc_b li:before,
ul.disc_g li:before {
    content: " ";
    display: inline-block;
    position: relative;
    width: 9px;
    height: 9px;
    margin: 0 4px 0 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

ul.disc_b li:before {
    background: #0061B1;
}

ul.disc_g li:before {
    background: #6EB92C;
}

ol {
    margin-bottom: 15px;
    padding-left: 20px;
    list-style: decimal;
}

ol>li {
    line-height: 1.5;
    margin-bottom: 7px;
}

/* --- responsive --- */
@media(max-width:1000px) {
    #main_contents ul>li {
        font-size: 0.84rem;
    }
}
